In [1]:
#1. Print First 10 natural numbers using while loop

# method 1-
for i in range(10):
    print(i+1) 


# method 2-
i=1
while i <=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,5,1):
    for j in range(1,i+1):
        print(j, end = " ")
    print("")

1
1 2
1 2 3
1 2 3 4

In [3]:
for i in range(5,0,-1):
    for j in range(0,i):
        print("5", end = " ")
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [4]:
for i in range(1,6,1):
    for j in range(0,i):
        print(i, end = (" "))
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
for i in range(1,6,1):
    for j in range(0,i):
        print(j+1, end = (" "))
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
b=0
for i in range(5,0,-1):
    b+=1
    for j in range(0,i):
        print(b, end = (" "))
    print(" ")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [7]:
for i in range(5,0,-1):
    for j in range(0,i+1):
        print(j, end = (" "))
    print(" ")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [8]:
for i in range(0,6):
    for j in range(0,i):
        print(i*2-1, end = " ")
    print(" ")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [9]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i, end = (" "))
    print(" ")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [10]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j, end = " ")
    print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [11]:
for i in range(6,1,-1):
    for j in range(i,1,-1):
        print(j-1, end= " ")
    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [12]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

In [13]:
for i in range(1,6):
    num = 1
    for j in range(6,i,-1):
        if j>i:
            print(num, end = (" "))
            num += 1
        else:
            print(" ")
    print(" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [14]:
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [5]:
import random
n = int(random.random())
a=0
for i in range(1,n,1):
    a+=i
print("Sum of " + str(n)+ " is: "+str(a))

Sum of 0 is: 0