A regular expression is a special text string for describing a search pattern

* Used to search for a specific string in a large amount of data. 
* Verify whether that is in a particular format or not
* Find and replace it with another string
* Format the data into a proper form for importing

The string-

Janice is 22 and Theon is 33

Gabriel is 44 and Joey is 21

Convert it into a dictionary:
> {'Janice': 22, 'Theon':33, 'Gabriel':44, 'Joey':21}

Every name starts with an uppercase letter and age is represented by integers.

In [1]:
import re

In [2]:
nameAge = '''
Janice is 22 and Theon is 33
Gabriel is 44 and Joey is 21
'''

In [3]:
ages = re.findall(r'\d{1,3}', nameAge)
names = re.findall(r'[A-Z][a-z]*',nameAge )

In [4]:
ageDict = {}

In [5]:
x = 0

In [7]:
for eachname in names:
    
    ageDict[eachname] = ages[x]
    x+=1

In [8]:
print(ageDict)

{'Janice': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '21'}