[Python Basic - I](https://www.w3resource.com/python-exercises/python-basic-exercises.php)

In [6]:
# version checker
import sys

print("Python version is", sys.version)

Python version is 3.13.4 (tags/v3.13.4:8a526ec, Jun  3 2025, 17:46:04) [MSC v.1943 64 bit (AMD64)]

In [7]:
# current date time 

from datetime import datetime

now = datetime.now()

print(now)

2025-07-07 11:50:57.118021

In [8]:
# circle area calculator

from math import pi

# area = pi*r*r


def area(r):
    return pi * r * r

print(f"Area = {area(5)}")

Area = 78.53981633974483

In [11]:
# reverse full name

def rev_name(first, last):
    return f"{last} {first}"

print(f"John Doe reversed - {rev_name('John', 'Doe')}")

fname = "Will"

lname = "Harrington"

print(f"{fname} {lname} reversed - {rev_name(fname,lname)}")

John Doe reversed - Doe John
Will Harrington reversed - Harrington Will

In [12]:
# list and tuple generator

def list_tup_gen(string):
    lst = string.split(",")
    tup = tuple(lst)

    return lst, tup

print(list_tup_gen("apple,banana,cherry"))

(['apple', 'banana', 'cherry'], ('apple', 'banana', 'cherry'))

In [13]:
# file ext extractor

def file_ext(filename):
    return filename.split(".")[-1]


file = "py.exe"
print(f"Ext of {file} is {file_ext(file)}")

Ext of py.exe is exe

In [14]:
# first and last colors

def first_last(colors):
    return colors[0], colors[-1]


color_list = ["Red","Green","White" ,"Black"]

print(f"First and last of {color_list} is {first_last(color_list)}")

First and last of ['Red', 'Green', 'White', 'Black'] is ('Red', 'Black')

In [18]:
# date extractor

from datetime import datetime

exam_st_date = (11, 12, 2014)

exam_st = datetime(exam_st_date[2], exam_st_date[1],exam_st_date[0])

print(f"exam will schedule on {exam_st}")

exam will schedule on 2014-12-11 00:00:00

In [19]:
exam_st

datetime.datetime(2014, 12, 11, 0, 0)

In [1]:
# number expansion calculator 

def expansion(number, count):
    total = 0
    num_str = str(number)
    current = ""
    
    for i in range(1, count + 1):
        current += num_str
        total += int(current)
        print(f"Step {i}: {current}")
    
    return total

number = 5
count = 3
result = expansion(number, count)
print(f"\nFinal Sum: {result}")

Step 1: 5
Step 2: 55
Step 3: 555

Final Sum: 615

In [3]:
# Function Documentation Printer

def documentation(func):
    return func.__doc__

print(f"Function's doc abs - {documentation(abs)}")

Function's doc abs - Return the absolute value of the argument.

In [8]:
# calendar month

import calendar

month = 7
year = 2025

print(f"Calendar month for {month} of {year} \n{calendar.month(year, month)}")

Calendar month for 7 of 2025
     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [9]:
# Days Between Dates

from datetime import date

sample_date1 = date(2014, 7, 2)
sample_date2 = date(2014, 7, 11)

print(sample_date2 - sample_date1)

9 days, 0:00:00

In [1]:
# Sphere Volume Calculator

from math import pi

def sphere(r):
    return (4/3)*pi*(r**3)

print(f"Sphere - {sphere(6)}")

Sphere - 904.7786842338603

In [ ]:
# difference from 17

def diff17(num):
    result = (num - 17)*2 if num > 17 else (17 - num)
    return result

print(diff17(21))

print(diff17(5))

8
12

In [ ]:
# Number Range Tester

def num_range_100(x):
    return (abs((1000 - x)) <= 100) or (abs((2000-x)) <= 100)

# diff = 200 - false
print(num_range_100(1200))

# diff = 100 - true
print(num_range_100(1100))

# diff = 100 - true
print(num_range_100(900))

# diff = 500 - false
print(num_range_100(500))

# diff = 100 - true
print(num_range_100(1900))

# diff = 100 - true
print(num_range_100(2100))

# diff = 50 - true
print(num_range_100(1050))

False
True
True
False
True
True
True

In [7]:
# triple sum calculator

def triple_sum(a:int,b:int,c:int)->int:
    if a == b == c:
        return (a+b+c)*3
    else:
        return (a+b+c)
    
# op = 6
print(triple_sum(1,2,3))

# op = 18
print(triple_sum(2,2,2))

6
18

In [9]:
# is prefix add

def prefix_adder(string):
    if string[:2].lower() == "is":
        return string
    else:
        return "is"+string
    

print(prefix_adder("hello"))


print(prefix_adder("ISit"))

ishello
ISit

In [13]:
# String Copy Generator

def str_copy(string:str,n:int):
    copy = ""
    for i in range(n):
        copy = copy + string

    return copy

print(str_copy("ho",3))

hohoho

In [1]:
# Even or Odd Checker

def even_or_odd(number:int):
    return "odd" if number % 2 ==0 else "even"

print(even_or_odd(10))

print(even_or_odd(7))

odd
even

In [18]:
# Count 4 in List

def count4(lst : list):
    count = 0
    for number in lst:
        if number==4:
            count+=1

    return count

print(count4([1,3,4,0,44,2,4,2,1]))

2

In [6]:
# String Prefix Copies

def ncopies(string,n):
    return string*n if len(string) <= 2 else (string[:2])*n

print(ncopies("hello", 3))

print(ncopies("x",4))

hehehe
xxxx

In [8]:
# Vowel Tester

vowels = 'aeiou'

def check_vowel(char):
    if char in vowels:
        return True
    else:
        return False
    
print(check_vowel("t"))

print(check_vowel("o"))

False
True

In [12]:
# Value in Group Tester

def find_the_number(lst,target):
    return True if target in lst else False

print(find_the_number([2,31,5,21],1))

print(find_the_number([2,31,5,21],31))

False
True

In [20]:
# List Histogram

def hist_gram(lst):
    for i in lst:
        print("*"*i)

hist_gram([2,3,4])

**
***
****

In [29]:
# List to String Concatenator

def list_to_str(lst):
    result = ""
    lst_loop = []
    for i in lst:
        lst_loop.append(i)
        result = "".join(lst_loop)
        # print(result)
    print(result)


list_to_str(["he", "is", "a", "cat"])



def list_to_str_num(lst):
    result = ""
    
    for i in lst:
        result += str(i)

    print(result)

list_to_str_num([1,2,2.2,9])

heisacat
122.29

In [30]:
# Even Numbers Until 237

def even_till_237(lst):
    result = []
    for num in lst:
        if num == 237:
            break
        else:
            if num % 2 == 0:
                result.append(num)

    return result

numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527
    ]

print(even_till_237(numbers))

[386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918]

In [32]:
# Unique Colors Finder
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

def unique_cols(lst1, lst2):
    return lst1.difference(lst2)

print(unique_cols(color_list_1, color_list_2)) # one not in two

print(unique_cols(color_list_2, color_list_1)) # two not in one

{'White', 'Black'}
{'Green'}

In [ ]:
# Triangle Area Calculator